@model _3101_proyecto1.Models.ReservaConsultorioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ReservaConsultorioViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdEspecialista" class="control-label"></label>
                <input asp-for="IdEspecialista" class="form-control" />
                <span asp-validation-for="IdEspecialista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdConsultorio" class="control-label"></label>
                <input asp-for="IdConsultorio" class="form-control" />
                <span asp-validation-for="IdConsultorio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaSemana" class="control-label"></label>
                <input asp-for="DiaSemana" class="form-control" />
                <span asp-validation-for="DiaSemana" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
